.mob-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  padding: 8px;
  display: none;
  justify-content: space-around;
}
.mob-menu img {
  height: 40px;
  cursor: pointer;
}
.mob-menu i{
  font-size: 50px;
  color: white;
}
@media (max-width: 800px) {
  .mob-menu {
    display: flex;
  }
}