.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
.gradient {
  background: linear-gradient( to right ,var(--color-1),var(--color-2));
}
.btn{
  padding: 8px 32px;
  flex-shrink: 0;
  /* width: 100%; */
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  /* background: #ffa600; */
  cursor: pointer;
  background: linear-gradient( to right ,var(--color-1),var(--color-2))
}

.btn-second{
  padding: 8px 16px;
  flex-shrink: 0;
  background: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow:  0 2px 16px #ccc;
  cursor: pointer;
 transition: 0.5s;
}
.btn-second:hover{
background: #eee;
}
.underline{
  border-bottom: 1px solid rgb(188, 188, 188);
}